   # Archivos de caché de Python
   __pycache__/
   *.py[cod]
   *$py.class

   # Entornos virtuales
   .venv/
   venv/
   ENV/

   # Archivos de distribución
   dist/
   build/
   *.egg-info/

   # Archivos de configuración local
   .env
   .env/
   .env.local

   # Archivos de IDE
   .idea/
   .vscode/
   *.swp
   *.swo

   # Archivos de sistema
   .DS_Store
   Thumbs.db